
<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <h1>Stylist: @Model.GetName()</h1><br>
<h4>Phone Number: @Model.GetPhone()</h4>

<h4>Clients:</h4>
<ul>
  @foreach(var clients in Model)
  {
    <li>@clients.GetName()</li>
  }
</ul>
<br><br>
<a href="/clients/add" class="btn btn-success">Add Clients</a><br>
<a href="/stylists">View all stylists</a><br>
<a href="/clients">View all clients</a><br>
</html>
