@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <h1>Specialty: @Model["thisSpecialty"].GetName()</h1><br>


  <form action='/specialties/@Model["specialtyId"]/edit/' method="post">

    <label for="newstylist">Change a Stylist</label>
    <select class="selectStylist" name="newstylist">
      @foreach (var newstylists in Model["stylists"])
      {
      <option value="@newstylists.GetId()">@newstylists.GetName()</option>
      }
    </select>
    <button type="submit">Submit</button>
  </form>


<br><br>
<a href='/stylists/add'>Add a stylist</a><br>
<a href='/specialties/add'>Add a specialty</a><br>
<a href='/clients/add'>Add a client</a><br>
<br><br>

<a href="/stylists">View all stylist</a><br>
<a href="/specialties">View all specialties</a><br>
<a href="/clients">View all clients</a><br>
</html>
