<h1>Hair Salon Database</h1>
<a href='/stylists/add'>Add a stylist</a><br>
<a href='/specialties/add'>Add a specialty</a><br>
<a href='/clients/add'>Add a client</a><br>
<br><br>

<a href="/stylists">View all stylist</a><br>
<a href="/specialties">View all specialties</a><br>
<a href="/clients">View all clients</a><br>
 
