@using HairSalon.Models;

<!DOCTYPE html>
<html>
<head>
  <title>Stylists</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<h1>Clients</h1>
<table class="table table-hover table-danger">
  <thead>
    <tr>
      <th scope="col">Name</th>

    </tr>
  </thead>
  <tbody>

    @foreach(var clients in Model)
    {
      <tr>
        <td>@clients.GetName()
          <!-- |<a href="/clients/@clients.GetId()/stylists">View the clients</a> -->
          | <a href="/clients/@clients.GetId()/edit">Edit</a>| <a href="/clients/@clients.GetId()/delete">Delete</a></td>
        </tr>
      }

    </tbody>
  </table>


  <br><br>
  <a href='/stylists/add'>Add a stylist</a><br>
  <a href='/specialties/add'>Add a specialty</a><br>
  <a href='/clients/add'>Add a client</a><br>
  <br><br>

  <a href="/stylists">View all stylist</a><br>
  <a href="/specialties">View all specialties</a><br>
  <a href="/clients">View all clients</a><br>
